


body {
    display: block;
    margin: 0px;
}


h1 {
  color: black;
  background: white;


  margin:3vw auto;

  padding-right: 3vw;
      padding-left: 3vw;
      font-family:fantasy;
      font-size: 40px;
      font-style:normal;
      font-weight: 500;
      font-kerning:normal;
      font-weight:1000;
      letter-spacing: 8px;
}
.home a{
      text-decoration: none;

      color: black;

}

.nav {
  width: 100%;
  height: 30px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 0.1px;
  padding-bottom: 15px;
  border bottom: 1px solid darkgrey;
}

.nav ul {
  list-style: none;
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0 auto;
  display: block;

}

.nav li {
  font-family: sans-serif;
  font-size: 20px;
  line-height: 40px;
  height: 30px;
  display: inline;
  float: right;
  padding-left: 5px;
  padding-right: 40px;

}

.nav a {
  text-decoration: none;
  font-weight: light;
  color: darkgrey;
  display: block;
  transition: .3s font-weight;
}

a:hover {
color: black;

}



h3 {

word-spacing:20px;
  color: #8a8a8a;
  background-color: white;
  font-style: normal;
  margin-left: 1000px;
  margin-top: 1px;
  font-family: Arial, "Times New Roman", sans-serif;
  font-size:  20px;
  font-style:normal;
  font-weight: 500;
  border-top:3px;
  align:left;
  }

  h3:hover {
  color: black;
  }
div.pointer {
    cursor: pointer;
}





h2{
  color: #8a8a8a;
  padding-left: 10px;
  top: 122px;
  left: 37px;
  font-family: Arial, "Times New Roman", sans-serif;
  font-size:  20px;
  font-style:normal;
  font-weight: 500;
  padding-right: 25px;
  padding-top: 17px;
  padding-bottom: 15px;



}


.title a{
      text-decoration: none;
      font-weight: light;
      color: black;

}
.title {
  position: absolute;
  font-family: Arial, "Times New Roman", sans-serif;
  font-size:16.5px;

}

.title:hover {
  transition: all 0.3s;
}

div.pointer {
    cursor: pointer;
}





@keyframes caricamento {
  from{ width: 5px;}
  to{width: 1520px;}

}
#barra{

  background-color: darkgrey;
  height: 5px;
  height: 2px;
  width: 1535px;

}


div.pointer {
    cursor: pointer;
}
div.africabox {
  position: absolute;
  bottom: 10px;
  left: 80px;
  width: 100%;

  color: white;
  background: auto;
  margin: 1vw auto;

      padding-left: 550px;
      font-family:fantasy;
      font-size: 30px;
      font-style:normal;
      font-weight: 500;
      font-kerning:normal;
      font-weight:1000;
      letter-spacing: 8px;
      padding-bottom: 470px;

}
.africabox a{
      text-decoration: none;
      left: 100px;
      top: 50px;
      color: black;

}






#griglia {
  padding: 0;
  margin: 0;
}




#griglia > li {

  display: inline-block;
  width:  300.038px;
  height: 200px;
  margin: 10px;
  background-color: #abe2ff;
}




#container {
    background: #e3e3e3;
    max-width:1050px;
    margin:0 auto;
    padding-top: 115px;
    padding-left: 57px;

    padding-bottom: 57px;
    padding-right: 57px;

    text-align: center;
}
